################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/FriendlyId.Net/FriendlyId.Net/bin/Debug/net6.0
/Src/FriendlyId.Net/FriendlyId.Net/obj/Debug/net6.0
/Src/FriendlyId.Net/FriendlyId.Net.Tests/bin/Debug/net6.0
/Src/FriendlyId.Net/FriendlyId.Net.Tests/obj
